<div class="container">
  <mat-card-content>
    <form class="my-form" [formGroup]="registrationform">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" name="fname" formControlName="fname">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" name="lname" formControlName="lname">
      </mat-form-field>
      <br>

      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" name="address" formControlName="address">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" formControlName="email">
      </mat-form-field>
      <br>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="1">Male</mat-radio-button>
        <br><br>
        <mat-radio-button class="example-radio-button" value="2">Female</mat-radio-button>
      </mat-radio-group>
      <br><br>
    </form>
    <button mat-flat-button color="accent" (click)="onSave()">Submit</button>
  </mat-card-content>
</div>