<mat-card>
  <mat-card-header>
    <mat-card-title>College Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><b>Name: </b> {{collegeDetails?.collegeDetailDataList[0].name}}</p>
    <p><b>Code: </b>{{collegeDetails?.collegeDetailDataList[0].code}}</p>
    <p><b>Started in the Year: </b> {{collegeDetails?.collegeDetailDataList[0].startedYear}}</p>
    <p><b>Address: </b>{{collegeDetails?.collegeDetailDataList[0].address}}</p>
    <p><b>Contact: </b> {{collegeDetails?.collegeDetailDataList[0].contact}}</p>
    <p><b>Email: </b>{{collegeDetails?.collegeDetailDataList[0].email}}</p>
    <p><b>Hostel Facilities: </b>{{collegeDetails?.collegeDetailDataList[0].hostelsFacilities}}</p>
  </mat-card-content>
  <button mat-flat-button color="accent">Register</button>
</mat-card>
